# Morning session

## Variables
We'll use integers for now, but there exist many more data-types.
Variables are ways we deal with data, assign values, and allow interaction in the computer.
Notice that re-assigning ```a``` variable does not change the value of ```c``` becuase **code is executed sequentially**

In [ ]:
a = 5
b = 2

print('a = ', a)
print('b = ', b)

c = a+b
a = 3

print('c = ', c)
print('a = ', a)
print('c = ', c)

a =  5
b =  2
c =  7
a =  3
c =  7

## If-Statements
Basic inequality statements: ```==, !=, >=, <=, >, <```. If statements are used to conditionally execute a line of code. Inequality statements return **boolean** variables types: ```True``` or ```False```. Contents of an if-statement are only evaluated when the condition is ```True```. *Extra: look into elseif statements.*

In [ ]:
if(True):
    print('Booleans are great!')
    
if(False):
    print('This will never be printed!')

print('Is a greater than 0?', a>0)    

if(a > 0):
    print('a is greater than 0!')
    
if(a+b == c):
    print('Yep, a+b=', a+b)
else:
    print('Nope, a+b=', a+b)

Booleans are great!
Is a greater than 0? True
a is greater than 0!
Nope, a+b= 5

## Functions
Functions are used to define lines of code we wish to execute later or reuse. Functions may return a variable from being called, which is signified by their return statement. A return statement is optional. Functions can take in parameters with and/or without key-word arguments (kwargs).

Functions are very powerful. If find yourself copying and pasting code in multiple places, consider writing a function instead.

In [ ]:
def myPrintFunc(x):
    print('var = ', x)
    
def myFunc(x,y):
    return x+y

a = myFunc(a,b)

def myFunc2(x, y, show=True):
    w = myFunc(x, y)
    if(show):
        myPrintFunc(w)
    return w
    
a = myFunc2(a,b)
a = myFunc2(a,b, show=False)

var =  7

### Lab Exercise
Write a function to find the factors of a positive number.

Hint: Check if the number is positive or negative

Hint: Use modulo operator '**%**' to compute the remainder

In [9]:
def get_factor(num):
  ''' Insert your code here '''

### Test Examples

In [ ]:
get_factor(0)

get_factor(-12)

get_factor(21) 
           
get_factor(8)

Your ouput should look as follows:

In [7]:
get_factor(0)

get_factor(-12)

get_factor(21) 
           
get_factor(8)

All numbers are factors of 0

Error: Number is negative

1 is a factor of  21
3 is a factor of  21
7 is a factor of  21
21 is a factor of  21


1 is a factor of  8
2 is a factor of  8
4 is a factor of  8
8 is a factor of  8

# Afternoon session

## Lists
Python has a datatype of lists, which stores an ordered array of objects. Objects in the list may be accessed and altered by indexing. *Extra: dictionaries*.

In [ ]:
list_x = [2,-5,6,False,56]

print(list_x)

# indexing
print(list_x[0])
print(list_x[2])
print(list_x[-1])

[2, -5, 6, False, 56]
2
6
56

## Loops
While-loops execute the same lines of code until a condition is broken.
For-loops iterate over an object while executing the same lines of code, until the iteration reaches its end.
All for-loops may be equivalently written with while-loops.

In [ ]:
# while loop example
# initialize the variable

print("---- while loop 1 ----")
i = 0
while(i<5):
    print(i)
    i = i+1

print("---- while loop 2 ----")
i=0
while(i<len(list_x)):
    print("list_x[%d] = " % i, list_x[i])
    i = i+1
    
print("---- for loop 1 ----")
# equivalent for loop
for i in range(len(list_x)):
    print("list_x[%d] = " % i, list_x[i])
    
print("---- for loop 2 ----")
# breaking out of a for loop
for i in range(len(list_x)):
    if(list_x[i] == False):
        break
    print("list_x[%d] = " % i, list_x[i])

---- while loop 1 ----
0
1
2
3
4
---- while loop 2 ----
list_x[0] =  2
list_x[1] =  -5
list_x[2] =  6
list_x[3] =  False
list_x[4] =  56
---- for loop 1 ----
list_x[0] =  2
list_x[1] =  -5
list_x[2] =  6
list_x[3] =  False
list_x[4] =  56
---- for loop 2 ----
list_x[0] =  2
list_x[1] =  -5
list_x[2] =  6

## Strings
Strings in python are treated as lists of characters. There are a bunch of built-in functions dealing with strings that you should look up. *Extra: ```find()```

In [ ]:
this_string = "hello everyone"

print(this_string[4])
print(this_string[2:8])

o
llo ev

## Classes
So far we've seen the data-types of integers, floats (non-integer numbers), booleans, strings, and characters. Most modern programming languages allow us to basically define our own data-types in the form of **classes**. 

We instiate instances of our new datatype by callling the class, which automatically calls the init function. These class objects then have values and functions associated with them, that can be accessed by the "dot": ```my_object.my_value``` or ```my_object.my_function```. 

Though you may not need to make a class for this class, it makes life easier when we understand why we're writing code the way we are.

In [ ]:
class MyClass:
    # init function must be called __init__
    def __init__(self, value=0, string="..."):
        self.my_val = value
        self.my_str = string
    # all other functions can be called whatever you like
    def increment(self, inc=1):
        self.my_val += inc
    
    # all functions of the class need self as a parameter
    def printStr(self):
        print(self.my_str)
        
my_object = MyClass(10, "Nikola")

print(my_object.my_val)
print(my_object.my_str)

my_object.increment()
print(my_object.my_val)

my_object.printStr()

10
Nikola
11
Nikola

## Lab Exercises


Write a function to find the second largest number in a list (Hint: use sort())

In [22]:
"""Your Code here"""

'Your Code here'

### Test Examples

In [ ]:
print(second_largest([23, 52, 11, 52, 9, 26, 2, 1, 67]))
print(second_largest([12, 45, 2, 41, 31, 10, 8, 6, 4]))
print(second_largest([23,23]))
print(second_largest([24]))

Your ouput should look as follows:

In [21]:
print(second_largest([23, 52, 11, 52, 9, 26, 2, 1, 67]))
print(second_largest([12, 45, 2, 41, 31, 10, 8, 6, 4]))
print(second_largest([23,23]))
print(second_largest([24]))

52
41
None
None

Define a class which has at least two methods:  
*   getString: to get a string from console input (Hint: use input())
*   printString: to print the string in upper case (Hint: use upper())

Test the class methods.

In [23]:
"""Your code here"""

'Your code here'