In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
#dataframe - df
df = pd.read_csv('icebreaking_dataset.csv')

In [3]:
df.head(10)

    Name  Grade    City   Movie  IMDB Score   Genre  Coding experience
0  test1      8  boston  movie1           5  genre1                  4
1  test2      9     nyc  movie2           8  genre2                  2

In [4]:
names = df['Movie'].values
score = df['IMDB Score'].values

### Plot the IMDB scores for all the movies
- Use the [plt.scatter() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.scatter.html)
- x-axis indicates the name of the movies, y-axis shows the score.
- do not forget to put on the labels for the axes.

In [ ]:
# To-do

### Plot the number of movies for each genre
- Use the [plt.bar() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.bar.html)
- x-axis indicates the genre, y-axis shows the count for each genre.
- do not forget to put on the labels for the axes.

In [ ]:
# To-do