In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
#dataframe - df
df = pd.read_csv('https://raw.githubusercontent.com/huaijiangzhu/SummerML/master/day2/Icebreaking_dataset.csv')

In [ ]:
df.head(10)

                   Name  Grade  ...                         Genre Coding experience
0  Alexandra Montgomery    9.0  ...                         Drama                 2
1            Anthony Ge   10.0  ...                Action, Sci Fi                 2
2       Ian (Avi) Turok   11.0  ...  Animation, Action, Adventure                 2
3             Ben Savel   10.0  ...                        Action                 2
4         Charlie Ahmad    9.0  ...                        Action                 3
5        Charlie Tharas    9.0  ...                 Comedy, Crime                 3
6         Daniel Chuang   10.0  ...                        Action                 3
7             Dylan Ong    9.0  ...                        Action                 3
8             Tony Liu    11.0  ...                           NaN               2.5
9        Tahseen Younus   11.0  ...                        comdey                 3

[10 rows x 7 columns]

In [ ]:
names = df['Movie'].values
score = df['IMDB Score'].values

### Plot the IMDB scores for all the movies
- Use the [plt.scatter() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.scatter.html)
- x-axis indicates the name of the movies, y-axis shows the score.
- do not forget to put on the labels for the axes.

In [ ]:
# To-do

### Plot the number of movies for each genre
- Use the [plt.bar() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.bar.html)
- x-axis indicates the genre, y-axis shows the count for each genre.
- do not forget to put on the labels for the axes.

In [ ]:
# To-do

### Calculate the mean and variance of the IMDB score, find a proper way to visualize the results.

In [ ]:
# To-do