In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
#dataframe - df
df = pd.read_csv('https://raw.githubusercontent.com/huaijiangzhu/SummerML/master/day2/Icebreaking_dataset.csv')

In [25]:
df.head(31)

                      Name  Grade  ...      Genre Coding experience
0     Alexandra Montgomery      9  ...      Drama               2.0
1               Anthony Ge     10  ...     Action               2.0
2          Ian (Avi) Turok     11  ...  Animation               2.0
3                Ben Savel     10  ...     Action               2.0
4            Charlie Ahmad      9  ...     Action               3.0
5           Charlie Tharas      9  ...     Comedy               3.0
6            Daniel Chuang     10  ...     Action               3.0
7                Dylan Ong      9  ...     Action               3.0
8                Tony Liu      11  ...        NaN               2.5
9           Tahseen Younus     11  ...     Comdey               3.0
10      Daniel (Zeyang LI)     11  ...  Adventure               2.0
11  Dashiell Bhattacharyya      9  ...        NaN               2.0
12             Deven Huang      9  ...     Action               2.0
13             Wilson Ting     11  ...  Adventure               3.5
14        Nicola Paparella     11  ...     Sci-fi               4.0
15               Eric Zhao     10  ...    Romance               1.0
16       Eduardo Gutierrez     11  ...     Action               4.0
17            Arjun Khanna      9  ...     Comedy               4.0
18        George Ubertalli     10  ...     Action               4.0
19        Joaquin Portugal     12  ...    Fantasy               2.0
20            Michael Wein     10  ...     Action               2.0
21            Kishan Kumar     10  ...     Comedy               3.0
22         Yonatan Salamon     10  ...     Action               NaN
23           Oliver Marker     11  ...   Thriller               4.0
24              Oliver Toh     11  ...      Drama               2.0
25             Riya Mittle      9  ...    Fantasy               3.0
26           Ryan. Pitasky     10  ...     Action               4.5
27          Zahra Petiwala     11  ...   Thriller               4.0
28            Sophia Purow     11  ...     Comedy               2.0
29             Sahej Singh     10  ...     Action               3.0
30           Ashwin Chembu     11  ...        NaN               4.0

[31 rows x 7 columns]

In [4]:
names = df['Movie'].values
score = df['IMDB Score'].values

### Plot the IMDB scores for all the movies
- Use the [plt.scatter() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.scatter.html)
- x-axis indicates the name of the movies, y-axis shows the score.
- do not forget to put on the labels for the axes.

In [5]:
# To-do

### Plot the number of movies for each genre
- Use the [plt.bar() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.bar.html)
- x-axis indicates the genre, y-axis shows the count for each genre.
- do not forget to put on the labels for the axes.

In [6]:
# To-do

### Plot the histogram for the IMDB score
- Use [plt.hist() function](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.hist.html)
- x-axis indicates the score interval, y-axis shows the number of movies within each score interval
- make the interval length 0.5
- do not forget to put on the labels for the axes.

In [21]:
# To-do

### Calculate the mean and variance of the IMDB score of the movies

In [20]:
# To-do